.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}
@media (max-width: 767px){
    #display-address
    {
        text-align: center;
        margin: auto;
        width: 430px;
        max-width: 100%;
    }
    .info-equiment
    {
        padding-left: 20%;
    }
    #book_it_form 
    {
        display: block !important;
    }
    #book_it_form .hide-sm
    {
        display: block !important;
    }
}
.cbp-tm-submenu
{
    display: none;
}
li:hover .cbp-tm-submenu
{
    display:  block;
}